<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}" th:with="title='Login'">
</head>

<body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <div>
        <form action="/login" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" name="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>

</html>