<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}" th:with="title='Login'">
</head>

<body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <div>
        <h1>Create a new product</h1>
        <form action="/product" methdo="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price (€)</label>
                <input type="text" name="price" class="form-control" id="price">
            </div>
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn d-block btn-primary">Create</button>
            </div>
        </form>
    </div>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>

</html>
