<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head(title='Change password')}"></head>

<body style="min-height: 100vh; display: flex; flex-direction: column;">
    <header th:replace="~{fragments/layout :: header}"></header>
    <div class="d-flex align-items-center justify-content-center" style="flex: 1 1 max-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h1 class="text-center mb-3">Change password</h1>
                    <div th:each="error : ${errors}" th:if="${errors != null && errors.size() > 0}">
                        <p class="alert alert-danger text-center" th:text="${error}"></p>
                    </div>
                    <form action="/auth/password" method="post">
                        <div class="mb-3">
                            <label for="password" class="form-label">Old password</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <div class="mb-3">
                            <label for="new-password" class="form-label">New password</label>
                            <input type="password" name="new-password" class="form-control" id="new-password">
                        </div>
                        <div class="mb-3">
                            <label for="password-repeat" class="form-label">New password (repeat)</label>
                            <input type="password" name="password-repeat" class="form-control" id="password-repeat">
                        </div>
                        <input type="hidden" name="csrf-token" th:value="${csrfToken}">
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn d-block btn-primary">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>

</html>
