<body>
    <div th:fragment="order-item">
        <tr>
            <td>
                #<span th:text="${order.order.id.substring(0, 4)}"></span>
            </td>
            <td>
                <span th:text="${order.product.name}"></span>
            </td>
            <td>
                <span th:text="${order.user.username}" th:if="${user.isVendor}"></span>
                <a th:href="@{/chat/{id}(id=${order.user.id})}" th:if="${!user.isVendor}"
                    th:text="${order.user.username}">
                </a>
            </td>
            <td>
                <span th:text="${#temporals.format(order.order.createdAt, 'dd.MM.yyyy, HH:mm')}"></span>
            </td>
            <td>
                <span th:if="${order.isValid}">
                    ✓
                </span>
            </td>
        </tr>
    </div>
</body>
