<body>
    <div th:fragment="order-item">
        <tr>
            <td>
                #<span th:text="${order.order.id.substring(0, 4)}"></span>
            </td>
            <td>
                <a th:href="@{/product/{id}(id=${order.product.id})}" th:text="${order.product.name}"><a>
            </td>
            <td>
                <span th:text="${order.user.username}" th:if="${user.isVendor}"></span>
                <a th:href="@{/chat/{id}(id=${order.user.id})}" th:if="${!user.isVendor}"
                    th:text="${order.user.username}">
                </a>
            </td>
            <td>
                <span th:text="${#temporals.format(order.order.createdAt, 'dd.MM.yyyy, HH:mm')}"></span>
            </td>
            <td>
                <span th:if="${order.order.isValid}" title="This order has been digitally signed">
                    ✅
                </span>
                <span th:if="${!order.order.isValid}" title="This order is missing a valid signature">
                    ❌
                </span>
            </td>
        </tr>
    </div>
</body>
